div.container div.container2{
    padding: 0px;
    height: 100vh;
}

div.nav{
    padding-left: 10px;
    padding-right: 10px;
}

.nav-shadow{
    background: linear-gradient(180deg, #000000 -93%, rgba(0, 0, 0, 0) 100%);;
    height: 50px;
    z-index: 2;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

div.nav > *{
    z-index: 2;;
}

.section-header{
    position: relative;
    overflow:hidden;
    flex-grow: 1;
    background-color: #022D47;
}

.section-bg{
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.section-bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

/********** OVERVIEW SECTION **********/

.section-overview{
    background-color: white;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.section-overview .title{
    font-size: 25px;
    line-height: 25px;;
    font-weight: 100;
    margin-bottom: 10px
}

.section-overview .title > span{
    font-weight: 500;
}

.section-overview .main-links{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    align-items: flex-start;
}

.section-overview .stats{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 150px;
}

.stats .total-count{
    font-size: 21px;
    line-height: 21px;
    font-weight: 100;
}

.stats .single-stat{
    font-size: 15px;
    line-height: 25px;
    color: #878787;
}

.main-links .clickable-link{
    padding: 5px 0;
    color: #009EFF;
    cursor: pointer;
}