div.container div.container2{
    padding: 0px;
    height: 100vh;
}

div.nav{
    padding-left: 10px;
    padding-right: 10px;
}

div.nav > *{
    z-index: 2;;
}


.section-header{
    position: relative;
    overflow:hidden;
    flex-grow: 1;
}

.section-bg{
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.section-bg-img{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/********** OVERVIEW SECTION **********/

.section-overview{
    background-color: white;
    height: 250px;
    padding: 20px;
}

.section-overview > .title{
    font-size: 25px;
    line-height: 25px;;
    font-weight: 100;
}

.section-overview > .title > span{
    font-weight: 400;
}