<div class="container">
    <app-dynamicsidebar [items]="sidebarItems" (onBack)="handleBack()">
    </app-dynamicsidebar>

    <div class="container2">
        <div class="section-header">
            <div class="nav">
                <app-groups-menuselector title="Testing title" [darkMode]="true"></app-groups-menuselector>
                <app-userstatus [darkMode]="true"></app-userstatus>
            </div>
            <img class="section-bg-img" src="assets/groups/bg.jpg"/>
        </div>
        <div class="section-overview">
            hello world!
        </div>
    </div>

</div>