<div class="container">
    <app-dynamicsidebar [items]="sidebarItems" (onBack)="handleBack()">
    </app-dynamicsidebar>

    <div class="container2">
        
        <div class="section-header">
            <div class="nav-shadow"></div>
            <div class="nav">
                <app-groups-menuselector 
                    *ngIf="group != undefined"
                    class="dyn-anim-fadein-delayed"
                    [title]="group?.name ?? ''" 
                    [darkMode]="true">
                </app-groups-menuselector>
                <div 
                    *ngIf="group == undefined"
                    class="spacer">
                </div>
                <app-userstatus [darkMode]="true"></app-userstatus>
            </div>
            <img class="section-bg-img dyn-anim-fadein" src="assets/groups/bg.jpg"/>
        </div>

        <div class="section-overview">
            <ng-container *ngIf="group != undefined && composition != undefined">
                <div class="main-links dyn-anim-fadein-delayed">
                    <div class="title">
                        Welcome <span>{{userName}}</span> to, <span>{{group?.name}}</span>
                    </div>
                    <div class="description">
                        {{group?.description}}
                    </div>
                    <br/>
                    <a class="clickable-link" (click)="copyInvitationPressed()">
                        Copy Invitation
                    </a>
                    <br/>
                    <!-- <a class="clickable-link">Invite via Email</a> -->
                    <a class="clickable-link" (click)="deleteGroupPressed($event)">
                        Delete Group
                    </a>
                    <a class="clickable-link" (click)="leaveGroupPressed($event)">Leave Group</a>
                </div>
                <div class="stats dyn-anim-fadein-delayed">
                    <div class="total-count">{{totalUserCount}} User{{totalUserCount > 1 ? 's' : ''}}</div>
                    <br>
                    <div class="single-stat" *ngFor="let c of composition">
                        {{c.count}} {{c.type_name | titlecase }}{{c.count > 1 ? 's' : ''}}
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

</div>