/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white; }
.paragraphed-form form > p{
    margin-bottom: 0px;
}

.mat-dialog-container {
    min-width: min(300px, 80vw);
    max-width: min(540px, 100vw);
}

.center-card-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Style */

@media only screen and (max-width: 798px) {
    .container-element{
        display: flex;
    }
    /* Resize the immediate child of the container */
    .container-element > :first-child{
        width: 100%;
    }
}

@media only screen and (min-width: 798px) {
    .container-element{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Resize the immediate child of the container */
    .container-element > :first-child{
        width: min(70vw, 1000px);
    }
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Required for <mat-card> shadows */
mat-card { margin:2em;  }

/* Fonts */

@font-face {
    font-family: Roboto;
    src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('assets/fonts/Roboto-Bold.ttf');
}

/* dyn styles */

.dyn-section-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px){
    .dyn-overview-section{
        display: flex;
        width: 100%;
    }
}

@media only screen and (min-width: 800px){
    .dyn-overview-section{
        display: flex;
        width: 50%;
    }

    .dyn-overview-section-wide{
        display: flex;
        width: 100%;
    }
}