/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: white; }
.paragraphed-form form > p{
    margin-bottom: 0px;
}

.mat-dialog-container {
    min-width: min(300px, 80vw);
    max-width: min(540px, 100vw);
}

.center-card-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grayed{
    color: #AFAFAF;
}

.empty-space{
    height: 200px;
}

/* Container Style */

.container-element{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Resize the immediate child of the container */
.container-element > :first-child{
    width: min(70vw, 1000px);
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Required for <mat-card> shadows */
mat-card { margin:2em;  }

/* Fonts */

@font-face {
    font-family: 'Roboto Medium';
    src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Thin';
    src: url('assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('assets/fonts/Roboto-Bold.ttf');
}

.search-field{
    border: none;
}

.search-field:focus{
    outline-width: 0px;
}

.loading-row-content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
}

.loading-row mat-progress-spinner{ 
    margin-right: 10px;
}

.noselect{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.nopadding{
    padding: 0px;
}

.nomargin{
    margin: 0px;
}

.clickable{
    cursor: pointer;
}

/*****************/
/* dyn styles */

.dyn-flex-fullwidth{
    display: flex;
}

.dyn-fjc-space-between{ justify-content: space-between; }

.dyn-section-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 800px){
    .dyn-section{
        display: flex;
        width: 100%;
    }
}

@media only screen and (min-width: 800px){
    .dyn-section{
        display: flex;
        width: 50%;
    }

    .dyn-section-wide{
        display: flex;
        width: 100%;
    }
}

.dyn-form{
    display: flex;
    flex-direction: row;
}

.dyn-form-col{
    display: flex;
    flex-direction: column;
}

.dyn-form-row{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.dyn-form-label{
    width: 200px;
    font-family: 'Roboto';
    font-weight: normal;
    padding-right: 15px;
}

.dyn-btn{
    background-color: #0588D8;
    padding: 10px 16px;
    color: white;
    border-radius: 11px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    height: 24px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    transition: background-color 0.3s;
}

.dyn-btn:hover{ background-color: #23a8fa; }
.dyn-btn:active{ background-color: #00619e; }

.dyn-btn-image{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

body .dyn-btn-disabled{
    background-color: gray;
    cursor: not-allowed;
    pointer-events: none;
}

.dyn-textbox{
    height: 27px;
    border-radius: 11px;
    border-width: 1px;
    padding: 0 10px;
    border-color: #CBCBCB;
    outline-width: 0px;
    outline-style: none;
    border-style: solid;
    min-width: 147px;
}

.dyn-textarea{
    height: 27px;
    border-radius: 11px;
    border-width: 1px;
    padding: 0 10px;
    border-color: #CBCBCB;
    outline-width: 0px;
    outline-style: none;
    border-style: solid;
    min-width: 147px;
    resize: none;
    font-family: Roboto;
}

.dyn-select{
    min-width: 167px;
    height: 27px;
    border-radius: 11px;
    border-width: 1px;
    padding: 0 10px;
    border-color: #CBCBCB;

   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background-image: url(assets/common/dropdown-dyngray.png);
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center right;
}

.dyn-textbox::placeholder{
    color: #959595;
    font-style: italic;
}

@keyframes dyn-anim-appear{
    from { opacity: 0%; }
    to { opacity: 100%; }
}

.dyn-anim-fadein{
    animation-name: dyn-anim-appear;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.dyn-anim-fadein-delayed{
    opacity: 0;
    animation-name: dyn-anim-appear;
    animation-duration: 0.28s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

.dyn-backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 50%);
}