:host{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.container3{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

/* .section-hierarchy, .section-scene-map, .section-pane{
    margin-top: 20px;
} */

.section-pane{
    width: 250px;
    margin-right: 0px;
    max-height: calc(100vh - calc(90px));
    overflow-y: auto;
}

/* .section-pane h2:not(:first-child){
    margin-top: 10px;
} */

.asset-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

/* Object Hierarchy (List) */

.section-hierarchy{
    width: 140px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
}

.object-list{
    border: 1px solid #CBCBCB;
    flex-grow: 1;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: space-between;
}

.hierarchy-item{
    display: flex;
    background-color: #F8F8F8;
    padding: 6px 12px;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.hierarchy-item-controls{
    height: 16px;
    display: flex;
    cursor: pointer;
}

.section-hierarchy .hierarchy-selected{
    background-color: #E0F3FF;
    color: #009EFF;
    font-weight: bold;
}

.hierarchy-controls{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 2px;
}

.hierarchy-control{
    display: flex;
    justify-content: center;
    gap: 7px;
    align-items: center;
    background: ghostwhite;
    margin: 0 4px;
    border-radius: 4px;
    cursor: pointer;
    height: 28px;
}

.hierarchy-control > img{
    width: 20px;
    height: 20px;
    opacity: 70%;
}

/* Scene Map (map-container + ...) [CANVAS] */

.section-scene-map{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.map-container{
    border: 1px solid #CBCBCB;
    flex-grow: 1;
    margin-bottom: 10px
}

/* Library Panel */

.library-panel{
    display: flex;
    flex-direction: row;
    gap: 4px;
    flex-wrap: wrap;
}

/* H2 */

.section-hierarchy h2, .section-scene-map h2, .section-pane h2{
    line-height: 20px;
    margin: 0 0 10px 0;
}

.section-pane h2:not(:first-of-type){
    margin-top: 20px;
}

/* Options Panel */

.pane-options{
    margin-bottom: 20px;
}

.options-selected-name{
    color: #009EFF;
    font-family: 'Roboto Medium';
    margin-top: 15px;
}

.options-separator-transform{
    width: 100%;
    height: 1px;
    background-color: #E3E3E3;
    margin: 15px 0;
}

.options-sprite-name{
    margin-top: 15px;
    margin-bottom: 0;
}

.btn-obj-delete{
    justify-content: center;
}