.section-container, .section-pane{
    margin-top: 20px;
}

.asset-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

div.asset-container .asset-selected{
    background-color: #C0E7FF;
}


app-game-edit-level-item{
    /* width: 140px; */
    /* height: 180px; */
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}