<div class="container">
    <app-dynamicsidebar [items]="sidebarItems">
    </app-dynamicsidebar>

    <div class="container2">
        <div class="nav">
            <h4 class="small-heading">
                Edit Levels
            </h4>
            <app-userstatus></app-userstatus>
        </div>
        <div class="buttons">
            <div class="dyn-btn clickable btn-save">Save</div>
            <div class="dyn-btn clickable btn-add-level" (click)="addLevelClicked()">Add Level</div>
            
        </div>

        <div class="container3">
            <div class="section-container">
                <h2>Images</h2>
                <div class="asset-container">
                    <app-game-edit-level-item
                        *ngFor="let level of gameLevels"
                        [level]="level"
                        [isSelected]="selectedLevel?._id == level._id"
                        (onSelect)="levelSelected($event)"
                    >
                    </app-game-edit-level-item>
                </div>
            </div>

        </div>

    </div>

</div>