.container3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.section-container, .section-pane{
    margin-top: 20px;
}

.section-pane{
    width: 340px;
    min-width: 300px;
    margin-right: 10px;
    max-height: 80vh;
    overflow-y: auto;
}

.section-pane .dyn-form-row:not(:first-child){
    margin-top: 10px;
}

.asset-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

div.asset-container .asset-selected{
    background-color: #C0E7FF;
}


app-game-edit-level-item{
    /* width: 140px; */
    /* height: 180px; */
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.options-selected-name{
    color: #009EFF;
    font-family: 'Roboto Medium';
}

.options-selected-type{
    color: #959595;
    margin-top: 8px;
}

.options-description{
    color: #959595;
    font-size: 12px;
    line-height: 12px;
    text-align: justify;
}

.options-separator{
    width: 100%;
    height: 1px;
    background-color: #E3E3E3;
    margin: 30px 0;
}

.btn-delete, .btn-duplicate{
    width: 50px;
    text-align: center;
    justify-content: center;
}

.btn-danger{
    background-color: #b90000;
}

.btn-container{
    display: flex;
    gap: 10px;
}

.btn-save{
    width: 50px;
    justify-content: center;
}