.container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #F4F4F4;
}

.nav{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.small-heading{
    margin: 0px !important;
    margin-left: 20px;
}

.container2{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0 10px;
    background-color: white;
    min-height: 100vh;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.buttons > :not(:first-child){
    margin-left: 10px;
}