.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100% - 100px);
}

.stacked{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.stacked :last-child{
    margin-top: 10px;
}

.dashboard-container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;;
    width: 70%;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.dashboard-container > *{
    width: 100%;
}

.dashboard-container :not(:first-child){
    margin-top: -10px;
}

/* POST DEMO CSS */

.dashboard-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.dashboard-content{
    padding: 10px;
}