.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.center-contents{
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo{
    width: 200px;

}

.flex-grow{
    flex-grow: 1;
}

.screen-height{
    height: 100vh;
}

@media only screen and (min-width: 768px) {
    .container{
        flex-direction: row;
    }   
    .vertical-separator{
        width: 1px;
        height: 80vh;
        background-color: #EEEEEE;
    }
}

@media only screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }
}

.gray-notice{
    color: gray;
    margin-bottom: 30px;
}

.main-links{
    flex-direction: column;
}

.main-link{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    background-color: #009EFF;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
}