<div class="dyn-section-container">
    <div class="db-ov-section-ongoing">
        <h2>Sessions scheduled for you</h2>
        <app-groups-sessiontable 
            #table
            *ngIf="!isLoading"
            [allowSelection]="true"
            (select)="handleTableSelect($event)">
        </app-groups-sessiontable>
        <div class="loading" *ngIf="isLoading">
            Loading your sessions across all groups...
        </div>
        <div class="no-results" *ngIf="!isLoading && sessions.length == 0">
            No ongoing or scheduled sessions for you.
        </div>
    </div>
</div>