<div class="container dyn-anim-fadein-delayed">
    <div class="nav">
        <div class="back-btn" (click)="goBack()">
            <img class="chevron-left-icon" src="assets/splay/graydropdown.png"/>
            <img class="dashboard-icon" src="assets/splay/graydashboard.png"/>
            <div class="back-text">Back</div>
        </div>
        <app-userstatus [darkMode]="true" ></app-userstatus>
    </div>
    <div class="panels-container">
        
        <div class="primary-container">
            <div class="titles">
                <span class="game-title">{{game?.entry?.name ?? ""}}</span>
                <span class="game-level">{{currentLevelName}}</span>
            </div>
            <div class="canvas-container" id="canvas-container">
            </div>
            <div class="buttons-container">
                <app-player-controlbtn imageName="splay/btn.chat.icon.png" title="Chat"
                    (click)="chatButtonPressed()">
                </app-player-controlbtn>
                <app-player-controlbtn imageName="splay/btn.objectives.icon.png" title="Objectives"
                    (click)="objectivesButtonPressed()">
                </app-player-controlbtn>
                <app-player-controlbtn imageName="splay/btn.guidance.icon.png" title="Guidance"
                    (click)="guidanceButtonPressed()">
                </app-player-controlbtn>
                <app-player-controlbtn imageName="splay/btn.leave.icon.png" title="Leave" [dangerous]="true">
                </app-player-controlbtn>
            </div>
        </div>
    </div>
    <div class="secondary-container" [class.expanded]="panelExpanded">
        <div class="title-row">
            <h3 class="panel-title">{{panelTitle}}</h3>
            <div class="hide-btn noselect" (click)="panelExpanded = false">
                <span>Hide</span>
                <img class="hide-icon" src="assets/splay/white.chevron.right.png" />
            </div>
        </div>

    </div>
</div>