<div class="container dyn-anim-fadein-delayed">
    <div class="nav">
        <div class="back-btn" (click)="goBack()">
            <img class="chevron-left-icon" src="assets/splay/graydropdown.png"/>
            <img class="dashboard-icon" src="assets/splay/graydashboard.png"/>
            <div class="back-text">Back</div>
        </div>
        <div class="titles">
            <span class="game-title">{{game?.entry?.name ?? ""}}</span>
        </div>
        <app-userstatus [darkMode]="true" ></app-userstatus>
    </div>
    <div class="panels-container">
        
        <div class="primary-container">
            <!-- Check the game.js template (in game compiler) to find where this is used -->
            <div class="canvas-container" id="canvas-container" [class.paused]="isGamePaused">
                <div class="loading-indicator">Loading game...</div>
            </div>
            <div class="buttons-container">
                <app-player-controlbtn imageName="splay/btn.chat.icon.png" title="Chat" flashImage="splay/btn.chat.flashing.icon.png"
                    [flash]="shouldFlashChat"   
                    (click)="chatButtonPressed()">
                </app-player-controlbtn>
                <app-player-controlbtn imageName="splay/btn.objectives.icon.png" title="Objectives"
                    (click)="objectivesButtonPressed()">
                </app-player-controlbtn>
                <app-player-controlbtn imageName="splay/btn.guidance.icon.png" title="Guidance" flashImage="splay/btn.guidance.flashing.icon.png"
                    [flash]="shouldFlashGuidance"
                    (click)="guidanceButtonPressed()">
                </app-player-controlbtn>
                <app-player-controlbtn imageName="splay/btn.leave.icon.png" title="Leave" [dangerous]="true"
                    (click)="goBack()">
                </app-player-controlbtn>
            </div>
        </div>
    </div>
    <div class="secondary-container" [class.expanded]="panelExpanded">
        <div class="title-row">
            <h3 class="panel-title">{{panelTitle}}</h3>
            <div class="hide-btn noselect" (click)="hidePanels()">
                <span>Hide</span>
                <img class="hide-icon" src="assets/splay/white.chevron.right.png" />
            </div>
        </div>
        <app-player-panel-chat *ngIf="panelTitle == 'Chats'" 
            [messages]="chats" (sendMsg)="sendChatMessage($event)">
        </app-player-panel-chat>
        <app-player-panel-objectives *ngIf="panelTitle == 'Objectives'"
            [objectives]="objectives">
        </app-player-panel-objectives>
        <app-player-panel-guidance *ngIf="panelTitle == 'Guidance'"
            [guidance]="activeGuidance">

        </app-player-panel-guidance>
    </div>
</div>