<table class="dyn-basic-table">
    <thead>
        <tr>
            <th *ngFor="let col of columns">
                {{col.name}}
            </th>
            <th *ngIf="config.showDelete">
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of data; index as i">
            <td 
                *ngFor="let col of columns" 
                class="dyn-table-cell"
                [style.height.px]="cellHeight">
                <ng-container *ngIf="col.type == 'static'">
                    {{row[col.property] | anytostr}}
                </ng-container>
                <ng-container *ngIf="col.type == 'input:number'">
                    <input type="number" [(ngModel)]="row[col.property]" />
                </ng-container>
                <ng-container *ngIf="col.type == 'input:text'">
                    <textarea rows="2" (change)="updateData($event, row, col.property)">{{row[col.property]}}</textarea>
                </ng-container>
            </td>
            <ng-container *ngIf="config.showDelete">
                <td class="delete-ico" (click)="emitDeleteEvent(row, i)">
                    <img src="/assets/dashboard/ico_delete.png">
                </td>
            </ng-container>
        </tr>
    </tbody>
</table>