#scenemap-canvas{
    flex-grow: 1;
}

.canvas-container{
    display: flex;
    flex-grow: 1;
}

:host{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    /* background-color: red; */
}