.dashboard-userstatus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    min-width: 100px;
}

.dashboard-us-uimg{
    border: 5px solid #F7F7F7;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    margin-left: 7px;
}

.dashboard-us-role{
    color: #AFAFAF;
    font-size: 13px;
    font-weight: 300;
    line-height: 13px;
}

.dashboard-us-name, .dashboard-us-role{
    text-align: right;
    /* font-weight: 300; */
}

.dashboard-userstatus-menu{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: absolute;
    top: 70px;
    right: 10px;
    min-width: 170px;
    overflow: hidden;
    z-index: 10;
}

.dashboard-us-mitem {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.dashboard-us-mitemsep {
    height: 1px;
    background: #e9e9e9;
    margin: 10px 20px;
}

.dashboard-us-mitem img{
    width: auto;
    height: 15px;
}

.dashboard-us-mitem:hover{
    background-color: #E9E9E9;
}