.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
}

.login-form-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-container > form{
    width: 70%;
}

.login-form-row > mat-form-field{
    width: 100%;
}

.login-form-error{
    color: red;
}

.container-element{
    height: 100%;
}