<mat-card>
    <mat-card-title>
        <span>Game Objective History</span>
        <span display="inline">
        </span>
        <button mat-button style="float: right;" (click)="refreshDatasource()">
            <mat-icon>refresh</mat-icon>
            <span> Refresh</span>
        </button>
    </mat-card-title>
    <mat-card-content>
        <br>
        <table mat-table [dataSource]="dataSource" width="100%" *ngIf="!loading">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="session_id">
              <th mat-header-cell *matHeaderCellDef> Session ID </th>
              <td mat-cell *matCellDef="let element"> {{element.session_id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="objective_id">
              <th mat-header-cell *matHeaderCellDef> Objective ID </th>
              <td mat-cell *matCellDef="let element"> {{element.objective_id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="user_id">
              <th mat-header-cell *matHeaderCellDef> User ID </th>
              <td mat-cell *matCellDef="let element"> {{element.user_id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="progress">
              <th mat-header-cell *matHeaderCellDef> Progress </th>
              <td mat-cell *matCellDef="let element"> {{element.progress}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="last_updated">
              <th mat-header-cell *matHeaderCellDef> Last Updated </th>
              <td mat-cell *matCellDef="let element"> {{element.last_updated | date: 'medium'}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="load-container" [hidden]="!loading">
          <mat-progress-spinner class="load-container" mode="indeterminate" [diameter]="30"></mat-progress-spinner>
        </div>
    </mat-card-content>
</mat-card>
