<mat-toolbar>
    <!--
    <button mat-icon-button aria-label="Menu Button">
      <mat-icon>menu</mat-icon>
    </button>
    -->
    <span>Game-based E-Learning Platform</span>
    <span class="menu-spacer"></span>
</mat-toolbar>
<!-- <a routerLink="/register" routerLinkActive="active">Link</a> -->

<div class="registration-msg" *ngIf="showRegister">
  <mat-card>
    <mat-card-title>Get Registered!</mat-card-title>
    <mat-card-content>
      To get started using the Edge Game-based E-Learning System, you must first register!
    </mat-card-content>
    <mat-card-actions class="center-card-actions">
      <button mat-flat-button color="primary" (click)="registerClicked()">Register</button>
    </mat-card-actions>
  </mat-card>
</div>

<div class="login-msg" *ngIf="showLogin">
  <mat-card>
    <mat-card-title>Login with your Account!</mat-card-title>
    <mat-card-content>
      If you have already created an Account, register here!
    </mat-card-content>
    <mat-card-actions class="center-card-actions">
      <button mat-flat-button color="primary" (click)="loginClicked()">Login</button>
    </mat-card-actions>
  </mat-card>
</div>

<router-outlet></router-outlet>