<!--
<mat-toolbar>
    <!--
    <button mat-icon-button aria-label="Menu Button">
      <mat-icon>menu</mat-icon>
    </button>
    <span><a class="no-link" href="/">Game-based E-Learning Platform</a></span>
    <span class="menu-spacer"></span>
    <button mat-button aria-label="Menu Button" *ngIf="isLoggedIn" (click)="logoutClicked()">
      <mat-icon>power_settings_new</mat-icon>
      <mat-label> Logout</mat-label>
    </button>
</mat-toolbar>
-->
<!-- <a routerLink="/register" routerLinkActive="active">Link</a> -->


<router-outlet></router-outlet>