<div class="container">
    <app-dynamicsidebar>
    </app-dynamicsidebar>

    <div class="container2">
        <div class="nav">
            <h4 class="small-heading">
                Delete {{viewMode | titlecase}}
            </h4>
            <app-userstatus></app-userstatus>
        </div>
        <div class="buttons">
            <div class="dyn-btn clickable btn-delete" (click)="deleteButtonClicked()">Delete</div>
            <div class="dyn-btn clickable btn-cancel"
                (click)="cancelButtonClicked()" 
                [ngClass]="{'dyn-btn-disabled': 'isDeleteDisabled'}">
                Cancel
            </div>
        </div>
        <div class="delete-form dyn-form">
            <!-- Section Basic Details -->
            <div class="dyn-form-col">
                <h2 class="heading">Are you sure you want to delete the {{viewMode}}, "{{gameName}}"?</h2>
                <div class="dyn-form-row">
                    This action is not reversible. all associated data about this {{viewMode}} will be deleted excluding reports.
                </div>
            </div>

        </div>

    </div>

</div>