<mat-card>
    <mat-card-title>Session Information</mat-card-title>
    <mat-card-content>
        <table style="width:100%">
            <tr>
                <td colspan="2">Participants: UserName</td>
            </tr>
            <tr>
                <td width="50%">Start: {{startTime}}</td>
                <td width="50%">End: {{endTime}}</td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions style="">
        <button mat-raised-button color="primary">Start Game Session</button>
        <button mat-button color="primary" (click)="clearStats()">Clear Statistics</button>
    </mat-card-actions>
</mat-card>
