.container2{
    height: 100vh;
}

.select-lvl-container{
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 .nav{
    display: flex;
    justify-content: flex-start;
}

.nav-stretch{
    flex-grow: 1;
}

.buttons-separator.nav-separator{
    margin-left: 10px;
    height: 50%;
}

.buttons{
    align-items: center;
}

.buttons-separator{
    height: 70%;
    width: 1px;
    background-color: #DBDBDB;
}

.btn-save{
    width: 70px;
    align-items: center;
    justify-content: center;
}

.btn-play-image{
    width: 20px;
}

.btn-content{
    margin-left: 10px;
}

.btn-content-sub{
    font-size: 10px;
    line-height: 10px;
}

:host /deep/.saving-progress.mat-progress-spinner circle, 
:host /deep/.saving-progress.mat-spinner circle {
stroke: #ffffff;
}

/* Editor Tabs */

.editor-tabs{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    gap: 10px;
}

.editor-tab{
    cursor: pointer;
}

.editor-tab.selected{
    color: #009EFF;
    font-weight: bold;
}

.editor-tab-separator{
    display: flex;
    align-items: center;
}

.editor-tab-separator > img{
    width: 4px;
    height: 4px;
}

/* End Editor Tabs */

/* Library Item */

.library-item{
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
}

.library-item:hover{
    background-color: #E9F7FF;
}

.library-item-img{
    height: 40px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.library-item-title{
    font-size: 12px;
    margin-bottom: 8px;
}

/* End Library Item */
