.container2{
    height: 100vh;
}

.select-lvl-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons{
    align-items: center;
}

.buttons-separator{
    height: 70%;
    width: 1px;
    background-color: #DBDBDB;
}

.btn-save{
    width: 70px;
    align-items: center;
    justify-content: center;
}

.level-title{
    color: gray;
}

/* Library Item */

.library-item{
    border: 1px solid #CBCBCB;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 72px;
}

.library-item:hover{
    background-color: #E9F7FF;
}

.library-item-img{
    height: 40px;
    margin-top: 8px;
    margin-bottom: 4px;
}

.library-item-title{
    font-size: 12px;
    margin-bottom: 8px;
}

/* End Library Item */