.asset-img{
    height: 80px;
    width: 130px;
}

.asset-name{
    text-align: center;
    width: 130px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.asset-img-locked{
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
}

.asset-img-container{
    position: relative;
}