<div class="container">
    <app-dynamicsidebar [items]="sidebarItems" (onBack)="handleBack()">
    </app-dynamicsidebar>

    <div class="container2">
        <div class="nav">
            <h4 class="small-heading">
                Edit Resources
            </h4>
            <app-userstatus></app-userstatus>
        </div>
        <div class="buttons">
            <!-- <div class="dyn-btn clickable btn-save">Save</div> -->
            <div class="dyn-btn clickable btn-upload" (click)="uploadResourceClicked()">Upload Resource</div>
            <input type="file" #resourceUploadInput class="file-uploader hidden-input" (change)="uploadInputFileChanged($event)">
        </div>

        <div class="container3">
            <div class="sections-container">
                <div class="section-images" *ngIf="imageResources.length > 0">
                    <h2>Images</h2>
                    <div class="asset-container">
                        <div class="asset dyn-anim-fadein-delayed" 
                            *ngFor="let res of imageResources" 
                            [ngClass]="{'asset-selected': selectedResource?._id == res._id}"
                            (click)="assetSelected(res)">
                            <div class="asset-img-container"><img class="asset-img" src="{{res.filename | resurl}}"/></div>
                            <!-- <div class="asset-name">{{res._id}}</div> -->
                            <div class="asset-name">{{res.displayName}}</div>
                        </div>
                    </div>
                </div>
    
                <div class="section-sound" *ngIf="soundResources.length > 0">
                    <h2>Sound</h2>
                    <div class="asset-container">
                        <div class="asset dyn-anim-fadein-delayed" 
                            *ngFor="let res of soundResources" 
                            [ngClass]="{'asset-selected': selectedResource?._id == res._id}"
                            (click)="assetSelected(res)">
                            <div class="asset-snd-container noselect"><img class="asset-snd noselect" src="/assets/game/musicnote.png"></div>
                            <div class="asset-name">{{res.displayName}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section-pane">
                <h2>Options</h2>
                <ng-container *ngIf="selectedResource == undefined">
                    <div class="options-selected-type">Select a resource to get started<br><br>Uploaded resources are automatically saved in the project</div>
                    <div class="options-separator"></div>
                </ng-container>
                <ng-container *ngIf="selectedResource != undefined">
                    <div class="options-selected-name">{{'"' + selectedResource!.displayName + '" Selected'}}</div>
                    <div class="options-selected-type">{{selectedResource!.type + " Resource" | titlecase}}</div>
                    <div class="options-separator"></div>
                    <h4>Management</h4>
                    <div class="dyn-btn clickable btn-play-sound" 
                        *ngIf="selectedResource!.type == 'sound'"
                        (click)="previewSoundBtnPressed()">
                        {{ isPlayingSound ? "Stop" : "Play" }}
                        <span *ngIf="isPlayingSound" class="sound-time">{{ audioTimeLabel }}</span>
                    </div>
                    <div class="dyn-btn clickable btn-rename" style="display: none">Rename</div>
                    <div class="dyn-btn clickable btn-delete btn-danger" (click)="resourceDeleteClicked()">Delete</div>
                </ng-container>
            </div>
        </div>
    </div>

    <dialog-fileuplaod 
        *ngIf="isUploading" 
        [progressFloat]="uploadProgress"
        (onCancel)="uploadCancelPressed()"
    ></dialog-fileuplaod>

</div>
