.report-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vert-separator{
    height: 25px;
    width: 1px;
    background-color: #DBDBDB;
}

.report-title-content, .report-title{
    margin-left: 10px;
}

.h2{
    margin: 0;
}

.chart-container, .breakdown-container{
    position: relative;
}

/* Side Panel */
.objective-report-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}