.report-title{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vert-separator{
    height: 25px;
    width: 1px;
    background-color: #DBDBDB;
}

.report-title-content, .report-title{
    margin-left: 10px;
}

.h2{
    margin: 0;
}

.chart-container, .breakdown-container{
    position: relative;
}

.section-reports{
    flex-grow: unset !important;
    width: calc(100% - 230px);  /* 230 for side pane + scrollbar */
}

/* Side Panel */
.objective-report-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Objective by Time Graph */
#progressbytime{
    /* display: flex; */
    flex-direction: column;
}

.chart-container-progress-by-time{
    position: relative;
    overflow: hidden;
}

/* Breakdown */
#breakdown{
    padding-bottom: 100px;
}

@media print {
    .nav, app-dynamicsidebar, .section-pane{
        display: none;
        visibility: hidden;
    }

    .section-reports {
        background-color: white;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }

    .chart-container-progress-by-time, .chart-container-progress-by-objective{
        width: 100%;
    }
}