:host{
    width: 100%
}

.section:not(:last-child){
    margin-bottom: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #C5C5C5;
    margin-bottom: 15px
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #BDD5E3;
}

.row:hover{
    background-color: #0F88D822;
}

.row-item-actions{
    display: flex;
    flex-direction: row;
    gap: 10px
}

.action-item{
    display: flex;
    align-items: center;
}

.action-item-img{
    width: 20px;
}

/* Column Widths */

.col-start-time, .col-end-time{
    width: 10%;
}

.col-state, .col-game, .col-type{
    width: 20%;
}

.col-actions{
    width: 10%;
}

/* Status Pill */

.status-pill{
    border-radius: 8px;
    color: white;
    display: inline-block;
    padding: 2px 9px;
}

.sts-black  { background-color: #470000; }
.sts-blue   { background-color: #16A7FF; }
.sts-green  { background-color: #50D300; }
.sts-yellow { background-color: #FFA800; }
.sts-red    { background-color: #E81414; }
.sts-gray   { background-color: #CECECE; }