<div *ngFor="let section of data">
    <h3>{{section.title}}</h3>

    <div class="header">
        <div class="header-item">Start Time</div>
        <div class="header-item">End Time</div>
        <div class="header-item">State</div>
        <div class="header-item">Game</div>
        <div class="header-item">Type</div>
        <div class="header-item" *ngIf="!hideActions">Actions</div>
    </div>

    <div class="row" *ngFor="let row of section.rows">
        <div class="row-item">{{row.start_time}}</div>
        <div class="row-item">{{row.end_time}}</div>
        <div class="row-item">{{row.state}}</div>
        <div class="row-item">{{row.game_name}}</div>
        <div class="row-item">{{row.type}}</div>

        <div class="row-item-actions" *ngIf="!hideActions">
            <div class="action-item" *ngFor="let action of row.actions">
                <img class="action-item-img" [src]="getImageForAction(action)">
            </div>
        </div>
    </div>
</div>