<div class="container">
    <app-dynamicsidebar>
    </app-dynamicsidebar>

    <div class="container2">
        <div class="nav">
            <h4 class="small-heading">Create Game</h4>
            <app-userstatus></app-userstatus>
        </div>
        <div class="buttons">
            <div class="dyn-btn clickable btn-save">Save</div>
            <div class="dyn-btn clickable btn-cancel">Cancel</div>
        </div>
        <h2 class="heading">Details</h2>
        <div class="details-form">
            <div class="form-row">
                <div class="">Game Name</div>
                <input class="dyn-textbox" placeholder="Type name here..."/>
            </div>
            <div class="form-row subtitle">
                More options will appear when you click “Save”
            </div>
        </div>
    </div>

</div>