<div class="container">
    <app-dynamicsidebar [items]="sidebarItems" (onBack)="handleBack()">
    </app-dynamicsidebar>

    <div class="container2">
        <div class="nav">
            <h4 class="small-heading">
                {{ isEditMode ? 'Edit Game' : 'Create Game' }}
            </h4>
            <app-userstatus></app-userstatus>
        </div>
        <div class="buttons">
            <div class="dyn-btn clickable btn-save" (click)="createButtonClicked()">Save</div>
            <div class="dyn-btn clickable btn-cancel" (click)="canceledButtonClicked()">Cancel</div>
        </div>
        <div class="details-form dyn-form">
            <!-- Section Basic Details -->
            <div class="dyn-form-col details-column">
                <h2 class="heading">Details</h2>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Game Name</div>
                    <input class="dyn-textbox" placeholder="Type name here..." [(ngModel)]="gameName"/>
                </div>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Game Type</div>
                    <select class="dyn-select" placeholder="Select a game type" [(ngModel)]="gameType" (change)="gameTypeDidChange()">
                        <option selected value="1">Single Player</option>
                        <option value="2">Multi Player</option>
                    </select>
                </div>
                <div class="form-row subtitle" *ngIf="!isEditMode">
                    More options will appear when you click “Save”
                </div>
            </div>

            <!-- Section Options -->
            <div class="dyn-form-col options-column">
                <h2 class="heading">Game Options</h2>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Concurrent user limit</div>
                    <input 
                        class="dyn-textbox tb-user-limit" placeholder="E.g. 5" 
                        type="number" [disabled]="gameType!=2"
                        [(ngModel)]="userLimit" />
                </div>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Level Switching</div>
                    <select class="dyn-select" placeholder="Select Level Switching" value=""
                        [(ngModel)]="levelSwitching"
                        (change)="levelSwitchingDidChange()">
                        <option value="1">Time Based</option>
                        <option value="2">Score Based</option>
                        <option value="3">Manual</option>
                    </select>
                </div>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Objective Progress Upper Bound Type</div>
                    <select class="dyn-select" placeholder="Object Bounds" value=""
                        [(ngModel)]="progressBoundType">
                        <option value="1">Limited</option>
                        <option value="0">Unlimited</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Report Options -->
        <div class="section-heading">
            <h2 class="heading">Report Options</h2>
        </div>
        <div class="reports-form dyn-form">
            <div class="dyn-form-col">
                <div class="report-opt-container">
                    <dyn-checkbox text="Objective Tracking Reports" [(checked)]="repOptObjectiveTracking"></dyn-checkbox>
                    <dyn-checkbox text="Guidance Trigger Reports" [(checked)]="repOptGuidanceTrgTracking"></dyn-checkbox>
                    <dyn-checkbox text="Student Usage Reports" [(checked)]="repOptStudentUsage" [disabled]="true"></dyn-checkbox>
                    <dyn-checkbox text="Level Score Reports" [(checked)]="repOptScore" [disabled]="disableScoreReports"></dyn-checkbox>
                    <dyn-checkbox text="Level Timing Reports" [(checked)]="repOptTiming" [disabled]="disableTimingReports"></dyn-checkbox>
                    
                </div>
            </div>
        </div>

        <ng-container *ngIf="isEditMode">
            <!-- Objectives Table -->
            <div class="dyn-form">
                <div class="dyn-form-col table-section">
                    <div class="section-heading">
                        <h2 class="heading">Objectives</h2>
                        <a href="" (click)="addNewObjectiveClicked($event)">Add New</a>
                    </div>
                    <dyn-basic-table 
                        [config]="objectiveTableConfig"
                        [data]="gameObjectives"
                        (delete)="deleteObjectiveClicked($event)">
                    </dyn-basic-table>
                </div>
            </div>
    
            <!-- Guidance Trackers Table -->
            <div class="dyn-form" #guidanceTrackersForm>
                <div class="dyn-form-col table-section">
                    <div class="section-heading">
                        <h2 class="heading">Guidance Trackers</h2>
                        <a href="" (click)="addNewTrackerClicked($event)">Add New</a>
                    </div>
                    <dyn-basic-table 
                        [config]="guidanceTrackerTableConfig"
                        [data]="gameGuidanceTrackers"
                        (delete)="deleteTrackerClicked($event)">
                    </dyn-basic-table>
                </div>
            </div>
        </ng-container>
    </div>

</div>