.heading{
    margin-top: 20px;
}

.subtitle{
    font-family: 'Roboto Light';
    font-size: 12px;
}

.options-column{
    margin-left: 30px;
}

.dyn-form-col{
    min-width: 400px;
}

.tb-user-limit{
    width: 60px;
    min-width: auto;
}

.report-opt-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 120px;
}

.report-opt-container > dyn-checkbox{
    width: 300px;
    margin: 13px 0;
}

.section-heading{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    align-items: baseline;
    vertical-align: baseline;
}

.section-heading > h2{
    margin: 0
}

.section-heading > a{
    text-decoration: none;
    margin-left: 10px;
    color: #009EFF;
}

.section-heading > a:visited{
    color: #009EFF;
}

.table-section{
    width: 100%;
}