<div class="container">
    <app-dynamicsidebar>
    </app-dynamicsidebar>

    <div class="container2">
        <div class="nav">
            <h4 class="small-heading">Create Game</h4>
            <app-userstatus></app-userstatus>
        </div>
        <div class="buttons">
            <div class="dyn-btn clickable btn-save">Save</div>
            <div class="dyn-btn clickable btn-cancel">Cancel</div>
        </div>
        <div class="details-form dyn-form">
            <!-- Section Basic Details -->
            <div class="dyn-form-col details-column">
                <h2 class="heading">Details</h2>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Game Name</div>
                    <input class="dyn-textbox" placeholder="Type name here..."/>
                </div>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Game Type</div>
                    <select class="dyn-select" placeholder="Select a game type">
                        <option selected value="1">Single Player</option>
                        <option value="2">Multi Player</option>
                    </select>
                </div>
                <div class="form-row subtitle">
                    More options will appear when you click “Save”
                </div>
            </div>

            <!-- Section Options -->
            <div class="dyn-form-col options-column">
                <h2 class="heading">Game Options</h2>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Concurrent user limit</div>
                    <input class="dyn-textbox tb-user-limit" placeholder="E.g. 5" type="number"/>
                </div>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Level Switching</div>
                    <select class="dyn-select" placeholder="Select Level Switching" value="">
                        <option value="1">Time Based</option>
                        <option value="2">Score Based</option>
                        <option value="2">Manual</option>
                    </select>
                </div>
                <div class="dyn-form-row">
                    <div class="dyn-form-label">Objective Progress Upper Bound Type</div>
                    <select class="dyn-select" placeholder="Object Bounds" value="">
                        <option value="1">Limited</option>
                        <option value="0">Unlimited</option>
                    </select>
                </div>
            </div>
        </div>
        <h2 class="heading">Report Options</h2>
        <div class="reports-form dyn-form">
            <div class="dyn-form-col">
                <div class="report-opt-container">
                    <dyn-checkbox text="hello"></dyn-checkbox>
                    <dyn-checkbox text="hello" [checked]="true"></dyn-checkbox>
                    <dyn-checkbox text="hello" [checked]="true" [disabled]="true"></dyn-checkbox>
                    <dyn-checkbox text="hello" [checked]="true" [disabled]="true"></dyn-checkbox>
                    <dyn-checkbox text="hello" [checked]="false" [disabled]="true"></dyn-checkbox>
                    <dyn-checkbox text="hello" [checked]="false" [disabled]="true"></dyn-checkbox>
                    
                </div>
            </div>
        </div>
    </div>

</div>