.dyn-search1{
    border: 2px solid #529AC6;
    padding: 10px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}

.dyn-search1 > img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.groups-search{
    color: #0588D8;
}

.db-groups-heading{
    margin-top: 15px;
}

.db-groups-table{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.table-heading-row{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.heading-row-data, .heading-row-icon{
    font-family: 'Roboto Medium';
}

.entry-row{
    padding: 4px 0px;
    display: flex;
    align-items: center;
}

.entry-row:hover{
    background-color: rgba(5, 136, 216, 15%);
}

.entry-row-data, .heading-row-data{
    width: 40%;
}

.entry-row-icon, .heading-row-icon{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entry-row-icon > img{
    width: 22px;
    height: auto;
}

.entry-row-icon{
    cursor: pointer;
}

.table-heading-row .header-member-count,
.entry-row .data-member-count
{
    width: 60%;
}

/* .entry-row td{
    border-bottom: 1px solid #BDD5E3; 
}*/

.entry-row-separator{
    width: 100%;
    height: 1px;
    background-color: #BDD5E3;
}

.search-result{
    color: gray;
    font-size: 14px;
    text-align: center;
    padding-top: 8px;
    padding-left: 10px;
}