.circle{
    border-radius: 100%;
    background-color: #022D47;
    text-align: center;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.24s;
}
.circle.danger{
    background-color: #640000;
}
.circle:hover{
    background-color: #004774;
}
.circle.danger:hover{
    background-color: #810000;
}
.circle:active {
    background-color: #001c2e;
}
.circle.danger:active{
    background-color: #250000;
}
.circle > img{
    width: 22px;
    height: 22px;
    user-select: none;
    -webkit-user-drag: none;
}
.title{
    color: #66C5FF;
}
.title.danger{
    color: #FF4545;
}
:host{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}
.circle.flash{
    border: 1px solid #FFF966;
    background-color: #3E3B00;
    animation-name: flashingBorderAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.title.flash{
    color: #FFF966;
    animation-name: flashingColorAnimation;
    animation-duration: 1s;
    animation-iteration-count: 3;
    animation-direction: alternate;
}

@keyframes flashingBorderAnimation{
    0% {
        border-color: #FFF966;
    }
    100% {
        border-color: #908b00;
    }
}

@keyframes flashingColorAnimation{
    0% {
        color: #FFF966;
    }
    100% {
        color: #908b00;
    }
}