<div class="dyn-flex-fullwidth dyn-fjc-space-between">
    <div class="dyn-games-contianer">
        <div class="dyn-btn" (click)="createGameClicked()">
            <span>Create {{mode | titlecase}}</span><img class="dyn-btn-image" src="assets/common/pluswhite.png">
        </div>
        <div class="dyn-btn refresh-btn" (click)="refreshClicked()">
            <span>Refresh</span>
        </div>
    </div>
    <div class="dyn-games-contianer">
        <div class="dyn-search1">
            <img src="assets/common/bluesearch.png">
            <input class="search-field games-search" 
                placeholder="Search..." 
                (input)="searchInputChanged($event)"
                [value]="searchTerm"
            >
        </div>
    </div>
</div>

<div class="dyn-flex-fullwidth db-games-heading">
    <h2>All {{mode | titlecase}}s</h2>
    <div class="search-result" *ngIf="isSearching">
        Showing {{displayedData.length}} of {{data.length}} search results for "{{searchTerm}}"
    </div>
</div>

<div class="dyn-section-container">

    <div class="db-games-table">
        <div class="table-heading-row">
            <div class="heading-row-data">{{mode | titlecase}}</div>
            <div class="heading-row-data">Type</div>
            <div class="heading-row-data">Usage</div>
            <div class="heading-row-icon">Clone</div>
            <div class="heading-row-icon">Edit</div>
            <div class="heading-row-icon">Delete</div>
            <div class="heading-row-icon">Play</div>
        </div>

        <div *ngIf="isLoading" >
            <div class="loading-row">
                <div class="loading-row-content">
                    <mat-progress-spinner class="load-container" mode="indeterminate" [diameter]="30">
                    </mat-progress-spinner>
                    Loading...
                </div>
            </div>
        </div>

        <ng-container *ngFor="let entry of displayedData">
            <div class="entry-row dyn-anim-fadein clickable" (click)="editGameClicked(entry.id)">
                <div class="entry-row-data">{{entry.name}}</div>
                <div class="entry-row-data">{{['', 'Single Player', 'Multi Player'][entry.type]}}</div>
                <div class="entry-row-data">{{'N/A'}}</div>
                <div class="entry-row-icon"><img src="assets/dashboard/ico_clone.png"></div>
                <div class="entry-row-icon" (click)="editGameClicked(entry.id)">
                    <img src="assets/dashboard/ico_edit.png">
                </div>
                <div class="entry-row-icon" (click)="deleteGameClicked(entry.id)"><img src="assets/dashboard/ico_delete.png"></div>
                <div class="entry-row-icon"><img src="assets/dashboard/ico_play.png"></div>
            </div>
            <div class="entry-row-separator dyn-anim-fadein"></div>
        </ng-container>
    </div>
</div>