.container3{
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.section-sessions{
    flex-grow: 1;
}

.section-pane{
    width: 250px;
    min-width: 140px;
}

.panel-section-selection{
    color: #009EFF;
    font-weight: 500;
}

.panel-buttons{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.composition-row{
    line-height: 25px;
    color: #878787;
    
}