<div class="container">
    <app-dynamicsidebar [items]="sidebarItems">
    </app-dynamicsidebar>

    <div class="container2">
        <div class="nav">
            <app-groups-menuselector 
                    *ngIf="group != undefined"
                    class="dyn-anim-fadein-delayed"
                    [title]="group?.name ?? ''" >
            </app-groups-menuselector>
            <div 
                *ngIf="group == undefined"
                class="spacer">
            </div>
            <div class="nav-stretch">
                <app-userstatus></app-userstatus>
            </div>
        </div>

        <div class="container3">
            <div class="section-sessions">
                <app-groups-usertable 
                    *ngIf="!loadingUserData"
                    [memberData]="data"
                    [selection]="selection">

                </app-groups-usertable>

                <div *ngIf="loadingUserData">Loading user data...</div>
            </div>
            <div class="section-pane">
                <h2>Details</h2>
                <div class="panel panel-summary">
                    <div class="panel-section-selection">
                        {{selectionCount}} user{{selectionCount == 1 ? '' : 's'}} selected
                    </div>
                </div>
                <br/>
                <div class="panel panel-buttons" *ngIf="canShowPanelButtons">
                    <div class="dyn-btn">
                        Remove selected Users
                    </div>
                    <div class="dyn-btn">
                        View selected student reports
                    </div>
                    <div class="dyn-btn">
                        Associate selected users
                    </div>
                </div>
                <div class="panel-separator"></div>
                <div class="panel panel-composition">
                    <div class="composition-row" *ngFor="let c of composition">
                        {{c.count}} {{c.type_name | titlecase }}{{c.count > 1 ? 's' : ''}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>