/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

markdown code[class*="language-"],
markdown pre[class*="language-"] {
	color: black;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 0.95em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

body.mat-typography markdown h3, 
body.mat-typography markdown h4,
body.mat-typography markdown h5{
	margin: 0;
}

/* Code blocks */
markdown pre[class*="language-"] {
	position: relative;
	margin: .5em 0;
	overflow: visible;
	padding: 1px;
}

markdown pre[class*="language-"]>code {
	position: relative;
	z-index: 1;
	border: 2px solid #bfd7e8;
	padding: 8px 13px;
	/* border-left: 10px solid #358ccb; */
	/* box-shadow: -1px 0px 0px 0px #358ccb, 0px 0px 0px 1px #dfdfdf; */
	background-color: #fdfdfd;
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
	background-attachment: local;
}

markdown code[class*="language-"] {
	max-height: inherit;
	height: inherit;
	padding: 0 1em;
	display: block;
	overflow: auto;
}

/* Margin bottom to accommodate shadow */
markdown :not(pre)>code[class*="language-"],
markdown pre[class*="language-"] {
	background-color: #fdfdfd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: 1em;
	margin-bottom: 1em;
}

/* Inline code */
markdown :not(pre)>code[class*="language-"] {
	position: relative;
	padding: .2em;
	border-radius: 0.3em;
	color: #c92c2c;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: inline;
	white-space: normal;
}

/* pre[class*="language-"]:before,
pre[class*="language-"]:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0.75em;
	left: 0.18em;
	width: 40%;
	height: 20%;
	max-height: 13em;
	box-shadow: 0px 13px 8px #979797;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
}

pre[class*="language-"]:after {
	right: 0.75em;
	left: auto;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	transform: rotate(2deg);
} */

markdown .token.comment,
markdown .token.block-comment,
markdown .token.prolog,
markdown .token.doctype,
markdown .token.cdata {
	color: #7D8B99;
}

markdown .token.punctuation {
	color: #5F6364;
}

markdown .token.property,
markdown .token.tag,
markdown .token.boolean,
markdown .token.number,
markdown .token.function-name,
markdown .token.constant,
markdown .token.symbol,
markdown .token.deleted {
	color: #c92c2c;
}

markdown .token.selector,
markdown .token.attr-name,
markdown .token.string,
markdown .token.char,
markdown .token.function,
markdown .token.builtin,
markdown .token.inserted {
	color: #2f9c0a;
}

markdown .token.operator,
markdown .token.entity,
markdown .token.url,
markdown .token.variable {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}

markdown .token.atrule,
markdown .token.attr-value,
markdown .token.keyword,
markdown .token.class-name {
	color: #1990b8;
}

markdown .token.regex,
markdown .token.important {
	color: #e90;
}

markdown .language-css .token.string,
markdown .style .token.string {
	color: #a67f59;
	background: rgba(255, 255, 255, 0.5);
}

markdown .token.important {
	font-weight: normal;
}

markdown .token.bold {
	font-weight: bold;
}

markdown .token.italic {
	font-style: italic;
}

markdown .token.entity {
	cursor: help;
}

markdown .token.namespace {
	opacity: .7;
}

@media screen and (max-width: 767px) {

	markdown pre[class*="language-"]:before,
	markdown pre[class*="language-"]:after {
		bottom: 14px;
		box-shadow: none;
	}

}

/* Plugin styles: Line Numbers */
markdown pre[class*="language-"].line-numbers.line-numbers {
	padding-left: 0;
}

markdown pre[class*="language-"].line-numbers.line-numbers code {
	padding-left: 3.8em;
}

markdown pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
	left: 0;
}

/* Plugin styles: Line Highlight */
markdown pre[class*="language-"][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}

markdown pre[data-line] code {
	position: relative;
	padding-left: 4em;
}

markdow pre .line-highlight {
	margin-top: 0;
}

/* Header Styles (custom */
markdown h2 {
	margin: 26px 0 16px 0;
}

/* Fig Caption (custom) */
markdown figcaption {
	font-style: oblique;
	color: #8c8c8c;
}

/* Images (custom) */
markdown img {
	border-radius: 3px;
	border: 1px solid #c7c7c7;
}

/* Copy Link Icon */
markdown .show-heading-link {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-left: -23px;
}

markdown .link-copy-ico {
	display: inline-block;
	visibility: hidden;
	width: 18px;
	height: 18px;
	top: calc(50% - 9px);
	left: -24px;
	border: none;
	margin-top: 6px;
	margin-right: 5px;
	cursor: pointer;
}

markdown .show-heading-link:hover .link-copy-ico {
	visibility: visible;
}

markdown blockquote {
	background-color: #d9eaf5;
	margin: 0px;
	border-radius: 8px;
	padding: 1em;
}

body.mat-typography markdown blockquote>p {
	margin: 0;
}

markdown table,
markdown table th,
markdown table td {
	border-collapse: collapse;
	border: 2px solid #bfd7e8;
	/* width: 100%; */
}

markdown table th,
markdown table td {
	padding: 6px 13px;
	border: 1px solid #d0d7de;
}

markdown table tr {
	background-color: #fff;
	border-top: 1px solid hsla(210,18%,87%,1);
}

markdown table tr:nth-child(2n) {
	background-color: #f6f8fa;
}