<div class="container-element">
    <mat-card class="reg-form">
        <mat-card-header>
            <mat-card-title>Registration Form</mat-card-title>
            <mat-card-subtitle>Register your user with the GbELP | Edge system</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="register-form-container paragraphed-form">
                <form id="register-form" [formGroup]="registerForm" (keyup.enter)="registerClicked()">
                    <p class="register-form-row">
                        <mat-form-field>
                            <mat-label>User Type</mat-label>
                            <mat-select formControlName="userType">
                                <mat-option 
                                    *ngFor="let t of userTypes?.data;" 
                                    value="{{t.user_type_id}}"
                                >
                                    {{t.name | titlecase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </p>
                    <p class="register-form-row">
                        <mat-form-field>
                            <mat-label>User Name</mat-label>
                            <input matInput placeholder="Thisura" formControlName="userName" autocomplete="username">
                        </mat-form-field>
                    </p>
                    <p class="register-form-row">
                        <mat-form-field>
                            <mat-label>User Email</mat-label>
                            <input matInput placeholder="thisura@gmail.lk" formControlName="userEmail" autocomplete="email">
                        </mat-form-field>
                    </p>
                    <p class="register-form-row">
                        <mat-form-field>
                            <mat-label>User Password</mat-label>
                            <input matInput placeholder="*******" formControlName="userPassword" type="password" autocomplete="current-password">
                        </mat-form-field>
                    </p>
                    <p class="register-form-row">
                        <mat-form-field>
                            <mat-label>Password Confirmation Password</mat-label>
                            <input matInput placeholder="*******" formControlName="userPasswordConfirmation" type="password" autocomplete="current-password">
                        </mat-form-field>
                    </p>
                    <div class="register-form-error" [hidden]="usernameOk">Username must be smaller than 100 characters and only consist of letters, underscores and numbers</div>
                    <div class="register-form-error" [hidden]="passwordsMatch">Passwords should match!</div>
                    <div class="register-form-error" [hidden]="passwordsMinLengthOk">Password should be atleast 8 characteres long!</div>
                </form>
            </div>
        </mat-card-content>
        <mat-card-actions class="center-card-actions">
            <button mat-flat-button color="primary" (click)="registerClicked()">Register</button>
            <button mat-flat-button (click)="cancelClicked()">Cancel</button>
        </mat-card-actions>
    </mat-card>
</div>
