h4{
    margin: 0px;
}

.back-btn{
    cursor: pointer;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    position: relative;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back-btn{
    margin-left: 12px;
    display: flex;
    gap: 8px;
    align-items: center;
}

app-userstatus{
    margin-right: 12px
}

.back-btn > .chevron-left-icon{
    width: 10px;
}

.back-btn > .dashboard-icon{
    width: 40px
}

.back-btn > .back-text{
    color: #AFAFAF
}

.panels-container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.primary-container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.primary-container > .buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.titles{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles > .game-title{
    font-weight: 500;
    font-size: 17px;
    color: white;
}

.titles > .game-timer{
    font-weight: 300;
    font-size: 12px;
    color: #b0b0b0;
}

.canvas-container{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading-indicator{
    line-height: 14px;
    font-size: 14px;
    text-align: center;
    color: rgb(137, 137, 137);
}

@media only screen and (min-width: 600px){
    .primary-container > .buttons-container{
        gap: 50px;
    }
}

@media only screen and (max-width: 600px){
    .primary-container > .buttons-container{
        gap: 10px;
    }
}

/* Secondary Container */

.secondary-container{
    display: flex;
    flex-direction: column;

    background-color: #1616169e;
    padding: 15px;
    position: absolute;
    z-index: 2;
    top: 50px;
    height: calc(100vh - 70px);
    width: 270px;
    right: -295px; /* Width + left margin */
    margin: 10px;
    transition: 0.4s right;
    box-sizing: border-box;
}

.secondary-container.expanded{
    right: 0;
    /*  */
    /* padding: 10px; */
}

.secondary-container .title-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.secondary-container .panel-title{
    color: white;
    font-weight: 400;
    font-size: 23px;
    margin: 0;
}

.secondary-container .hide-btn{
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.secondary-container .hide-icon{
    width: 10px;
}