.dyn-sidebar-container{
    /* width: 10px; */
    background: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.dyn-sidebar-expand-btn{
    height: 40px;
    margin-top: 15px;
}

.dyn-sidebar-expand-btn > img{
    width: 20px;
    height: 20px;
    padding: 10px;
}

.dyn-sidebar-item-container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.dyn-sidebar-back-item, .dyn-sidebar-item{
    font-size: 14px;
    padding: 10px 0;
    margin: 0;
}

.dyn-sidebar-back-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #15689B;
    margin-top: 15px;
}

.dyn-sidebar-item-img{
    width: 20px;
    height: 20px;
    margin-bottom: 20px;
}

.dyn-sidebar-item{
    margin: 0px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.dyn-sidebar-back-item > img{
    width: 10px;
    margin-right: 10px;
}

.dynSidebarItemSelected{
    font-weight: 600;
    color: #15689B;
}

/* Sub Items */

.dyn-sidebar-subitems-container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.dyn-sidebar-subitems-container-internal{
    width: 100%;
    background-color: #0588D8;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 8px;
}

.dyn-sidebar-subitem{
    color: #D9D9D9;
    font-weight: normal;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 11.5px 0;
}

/* .dyn-sidebar-subitems-container-internal .dyn-sidebar-subitem:active{
    background-color: #0170b4;
    color: #FFFFFF;
} */

.dyn-sidebar-subitem:hover, .dyn-sidebar-subitem.selected{
    background-color: #F7F7F722;
    color: #FFFFFF;
}

.dyn-sidebar-subitem-img{
    width: 20px;
    height: 20px;
    margin-bottom: 15px;
}