<div class="dyn-sidebar-container noselect" [style.height]="containerHeightProp" [style.padding]="containerPadding"
    [style.borderRadius]="containerBorderRadius" [style.minWidth]="containerMinWidth">
    <div class="dyn-sidebar-expand-btn" *ngIf="isScreenSmall" (click)="toggleExpand()">
        <img src="assets/common/hamburger.png">
    </div>
    <div class="dyn-sidebar-item-container" *ngIf="isItemsExpanded">
        <div class="dyn-sidebar-back-item clickable" (click)="onBackClicked()">
            <img src="assets/common/chevronleft.png"> Back
        </div>
        <div class="dyn-sidebar-item clickable" *ngFor="let item of items; let i = index"
            [ngClass]="{dynSidebarItemSelected: item.sel}" (click)="onItemClicked(item, i)">
            <img class="dyn-sidebar-item-img" src="{{item.sel ? item.s : item.n}}">
            <div>{{item.name}}</div>
            
            <div class="dyn-sidebar-subitems-container" 
                *ngIf="item.sel && (item.subItems != null && item.subItems!.length > 0)">
                <img class="dyn-sidebar-subitems-anchor" src="assets/common/dynsidebar_anchor.svg"/>
                <div class="dyn-sidebar-subitems-container-internal">
                    <div class="dyn-sidebar-subitem clickable" *ngFor="let subItem of item.subItems; let si = index"
                        [ngClass]="{selected: subItem.sel}" (click)="onItemClicked(subItem, si)">
                        <img class="dyn-sidebar-subitem-img" src="{{subItem.sel ? subItem.s : subItem.n}}">
                        <div>{{subItem.name}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>