:host{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.container3{
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.section-preview{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.section-preview h2{
    line-height: 20px;
    margin: 0;
}

.section-preview-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.sub-section-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-grow: 1;
    transition: width 0.3s ease-in-out;
}

ngx-monaco-editor{
    height: calc(100% - 10px);
    width: 100%;
}

.sub-section-preview{
    border: 1px solid #CBCBCB;
    padding: 8px;
}

.sub-section-editor, .sub-section-preview{
    display: flex;
    min-width: calc(50% - 10px);
    width: 100%;
    flex-grow: 1;
}

.animatehide{
    display: none;
}

/* Properties Grid */

.properties-form{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.property-title{
    background-color: #F0F0F0;
    padding: 8px 13px;
    display: flex;
    border-radius: 7px;
    margin-bottom: 11px;
}

.property-item{
    display: flex;
    flex-direction: row;
}

.property-item:not(:last-of-type){
    border: 1px #EDEDED solid;
    border-bottom: none;
}

.property-item:last-of-type{
    border: 1px #EDEDED solid;
}

.property-item-name, .property-item-value{
    padding: 8px 13px;
    flex: 1;
}

.property-item-value{
    border-left: 1px #EDEDED solid;
}