<div class="container3 dyn-anim-fadein-delayed">
    <div class="section-preview">
        <div class="section-preview-header">
            <h2>Properties</h2>
            <div class="buttons-separator"></div>
            <ng-container *ngIf="isTemplate">
                <div class="dyn-btn dyn-btn-mini clickable" (click)="toggleCodeHidden()">{{userHidEditor ? 'Show' : 'Hide'}} Code</div>
                <div class="editor-tab-separator">
                    <img src="assets/game/graydot.png">
                </div>
                <div class="dyn-btn dyn-btn-mini clickable" (click)="togglePreviewHidden()">{{userHidPreview ? 'Show' : 'Hide'}} Preview</div>
            </ng-container>
        </div>
        <div class="sub-section-container">
            <div class="sub-section-editor" *ngIf="isTemplate" [class.animatehide]="userHidEditor">
                <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (init)="editorInit($event)"></ngx-monaco-editor>
            </div>
            <div class="sub-section-preview" [class.animatehide]="userHidPreview">
                <form class="properties-form">
                    <div class="property-section" *ngFor="let section of sections">
                        <div class="property-title">{{section.section}}</div>
                        <div class="property-item" *ngFor="let item of section.properties">
                            <div class="property-item-name">
                                {{item.name}}
                                <div class="property-item-hint">{{item.hint}}</div>
                            </div>
                            <div class="property-item-value">
                                <div class="property-item-value-number" *ngIf="item.type == 'number'">
                                    <input type="number" 
                                        name="{{item.name}}" 
                                        min="{{item.number?.min}}" 
                                        max="{{item.number?.max}}"
                                        value="{{item.number?.value ?? item.number?.defaultNumber}}"/>
                                </div>
                                <div class="property-item-value-number" *ngIf="item.type == 'text'">
                                    <input type="text" 
                                        name="{{item.name}}" 
                                        [attr.maxlength]="item.text?.charLimit"
                                        value="{{item.text?.value ?? item.text?.defaultString}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>