<div class="container3 dyn-anim-fadein-delayed">
    <div class="section-preview">
        <div class="section-preview-header">
            <h2>Properties</h2>
            <div class="buttons-separator"></div>
            <ng-container *ngIf="isTemplate">
                <div class="dyn-btn dyn-btn-mini clickable" (click)="toggleCodeHidden()">{{userHidEditor ? 'Show' : 'Hide'}} Code</div>
                <div class="editor-tab-separator">
                    <img src="assets/game/graydot.png">
                </div>
                <div class="dyn-btn dyn-btn-mini clickable" (click)="togglePreviewHidden()">{{userHidPreview ? 'Show' : 'Hide'}} Preview</div>
            </ng-container>
        </div>
        <div class="sub-section-container">
            <div class="sub-section-editor" *ngIf="isTemplate" [class.animatehide]="userHidEditor">
                <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (init)="editorInit($event)"></ngx-monaco-editor>
            </div>
            <div class="sub-section-preview" [class.animatehide]="userHidPreview">
                <form class="properties-form">
                    <div class="property-section" *ngFor="let section of sections">
                        <div class="property-title">{{section.section}}</div>
                        <div class="property-item" *ngFor="let item of section.properties">
                            <div class="property-item-name">
                                {{item.name}}
                                <div class="property-item-hint">{{item.hint}}</div>
                            </div>
                            <div class="property-item-value">
                                <ng-container class="property-item-value-number" *ngIf="item.type == 'number'">
                                    <!-- Number Properties -->
                                    <input type="number" 
                                        class="property-control"
                                        name="{{item.name}}" 
                                        min="{{item.number?.min}}" 
                                        max="{{item.number?.max}}"
                                        [(ngModel)]="item.number!.value"
                                        (change)="valueChanged()"/>
                                </ng-container>
                                <ng-container class="property-item-value-text" *ngIf="item.type == 'text'">
                                    <!-- Text Properties -->
                                    <input type="text" 
                                        class="property-control"
                                        name="{{item.name}}" 
                                        [attr.maxlength]="item.text?.charLimit"
                                        [(ngModel)]="item.text!.value"
                                        (change)="valueChanged()"/>
                                </ng-container>
                                <ng-container class="property-item-value-select" *ngIf="item.type == 'select'">
                                    <!-- Select Properties -->
                                    <select name="{{item.name}}" class="property-control" 
                                        [(ngModel)]="item.select!.value" (change)="valueChanged()">
                                        <option *ngFor="let option of item.select!.options | keyvalue" value="{{option.key}}">
                                            {{option.value}}
                                        </option>
                                    </select>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>